.clients {
	padding: 80px 0;

		&__header {
			margin-bottom: 60px;

			text-align: center;

			@media (max-width: 1199px) {
				margin-bottom: 50px;
			}

			@media (max-width: 899px) {
				margin-bottom: 40px;
			}

			@media (max-width: 599px) {
				margin-bottom: 30px;
			}
		}

		&__title {
			margin-bottom: 40px;

			@media (max-width: 1199px) {
				margin-bottom: 30px;
			}

			@media (max-width: 899px) {
				margin-bottom: 20px;
			}

			@media (max-width: 599px) {
				margin-bottom: 10px;
			}
		}

		&__slider {
			position: relative;
			
			width: 770px;
			margin: 0 auto;

			@media (max-width: 1199px) {
				width: 710px;
			}
			@media (max-width: 899px) {
				width: 400px;
			}
			@media (max-width: 599px) {
				width: 100%;
			}
		}
	
		@media (max-width: 1199px) {
			padding: 50px 0;
		}
	
		@media (max-width: 599px) {
			padding: 40px 0;
		}
}
