.functional {
	padding: 80px 0;
	scroll-behavior: smooth;

		&__header {
			margin-bottom: 70px;

			text-align: center;

			@media (max-width: 1199px) {
				margin-bottom: 60px;
			}
	
			@media (max-width: 899px) {
				margin-bottom: 40px;
			}
	
			@media (max-width: 599px) {
				margin-bottom: 41px;
			}
		}

		&__title {
			margin-bottom: 40px;

			@media (max-width: 1199px) {
				margin-bottom: 30px;
			}
	
			@media (max-width: 899px) {
				margin-bottom: 20px;
			}
	
			@media (max-width: 599px) {
				margin-bottom: 10px;
			}
		}

		&__row {
			display: flex;
			justify-content: space-between;

			@media (max-width: 899px) {
				flex-wrap: wrap;
				row-gap: 30px;
			}

			@media (max-width: 599px) {
				row-gap: 40px;
			}
		}

		@media (max-width: 1199px) {
			padding: 50px 0 48px;
		}

		@media (max-width: 599px) {
			padding: 40px 0 38px;
		}
}