.tasks {
	padding: 80px 0 40px;

	border-bottom: 1px solid #E1E1E1;;

		&__row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 0 114px 0 100px;

			@media (max-width: 1199px) {
				padding: 0 0 0 77px;
			}

			@media (max-width: 899px) {
				padding: 0;
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: flex-start;
			}

			@media (max-width: 599px) {
				padding: 0;
				flex-direction: column-reverse;
				align-items: center;
			}
		}

		&__content {
			width: 570px;

			@media (max-width: 1199px) {
				width: 715px;
			}

			@media (max-width: 899px) {
				margin-top: 7px;
				width: 270px;
			}

			@media (max-width: 599px) {
				margin-top: 10px;
				width: 290px;

				text-align: center;
			}
		}

		&__header {
			margin-bottom: 30px;

			@media (max-width: 1199px) {
				margin-bottom: 20px;
			}
		}

		&__title {
			margin-bottom: 30px;

			@media (max-width: 1199px) {
				margin-bottom: 20px;
			}

			@media (max-width: 599px) {
				margin-bottom: 10px;
			}
		}

		&__text {
			width: 400px;

			font-weight: 500;
			font-size: 14px;
			line-height: 2.14;

			color: $paragraphColor;

				& p:not(:last-child){
					margin-bottom: 15px;
				}

				@media (max-width: 1199px) {
					margin-bottom: 10px;
					width: 410px;
				}

				@media (max-width: 899px) {
					width: 270px;

					line-height: 1.71;
				}

				@media (max-width: 899px) {
					margin: 0;
					width: 100%;
				}
		}

		&__img {
			@media (max-width: 899px) {
				width: 270px;
			}
		}

		@media (max-width: 1199px) {
			padding: 50px 0 20px;
		}	

		@media (max-width: 899px) {
			padding-bottom: 10px;
		}	

		@media (max-width: 599px) {
			padding: 40px 0;
		}	
}
