@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: $textColot;
}

.none {
	display: none;
}
.no-scroll {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}